{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'polls/images/logo.ico' %}">
        <title>InkTrickle</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style_home.css' %}">
</head>
<body>
      <!--top of the page -->
      <div class="top">
              <a href="">
                    <img src="{% static 'polls/images/logo.jpg' %}" alt="error" class="logo">
              </a>
              <a href="" id="login"><b>登录</b></a>
              <form action="">
                      <input type="search" name="searchtext" placeholder="搜索标题和内容">
                      <input type="submit" value="搜索">
              </form>
      </div>
      <!--top of the page -->
      <!--content of the page -->
      <div class="content">
              <h1>title</h1>
              <a href="">
                      <img src="{% static 'polls/images/logo.jpg' %}" alt="error" class="avatar">
              </a>
              <a href="" id="user">user</a>
              <p id="intro">introduction</p>
              <p>content of the article</p>
              <a href="" id="comment_a1">
                      <img src="{% static 'polls/images/logo.jpg' %}" alt="error" class="avatar">
              </a>
              <form action="">
                      <input type="text">
                      <input type="submit" value="提交">
              </form>
      </div>
      <!--content of the page -->
      <!--bottom of the page -->
      <div class="bottom">
              <footer>
                      <p>Powered by KhalidGong</p>
                      <p>Contact Me: khalidgong@outlook.com</p>
              </footer>
      </div>
      <!--bottom of the page -->
</body>
</html>
