<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>ZMZ</title>
</head>
<body>
      <!--top of the page -->
      <div>
              <a href=""> 
                    <img src="http://106.15.179.96:8000/polls/media/back.jpg/" alt="error" >
              </a>
              <a href=""><b>登录</b></a>
              <form action="">
                      <input type="search" name="searchtext" placeholder="搜索标题和内容">
                      <input type="submit" value="搜索">
              </form>
      </div>
      <!--top of the page -->
      <!--content_1 of the page -->
      <div>
              <div>
                      <a href="">
                              <img src="http://106.15.179.96:8000/polls/media/back.jpg/" alt="error">
                      </a>
              </div>
              <div>
                      <span>user</span><br />
                      <span>introduction of the user</span>
              </div>
              <div>
                      <p>content of article</p>
              </div>
      </div>
      <!--content_1 of the page -->
      <!--content_2 of the page -->
      <div>
              <div>
                      <a href="" width="" height="">
                              <img src="" alt="error">
                      </a>
                      <input type="text" name="yourcomment">
                      <input type="submit" value="评论">
              </div>
              <div>
                      <a href="" width="" height="">
                              <img src="" alt="error">
                      </a>
                      <p>content of history comment</p>
              </div>
      </div>
      <!--content_2 of the page -->
      <!--bottom of the page -->
      <div>
              <footer>
                      <p>Power by Khalid</p>
                      <p>Contact me: khalidgong@outlook.com</p>
              </footer>
      </div>
      <!--bottom of the page -->
</body>
</html>
