<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title></title>
</head>
<body>
<p><a href="http://106.15.179.96:8000/polls/show/#top">link to show#top</a></p>
<iframe src="http://106.15.179.96:8000/polls/show/" frameborder="0" name="iframe_1" class="iframe_1"></iframe>
<a href="http://www.baidu.com" target="iframe_1">link to baidu</a><br />
<script type="text/javascript">document.write("fuck!")</script>
<noscript>sb you browser does not support javascript
<table>
        <tr>
                <td>yeah</td>
        </tr>
</table>
</noscript>
</body>
</html>
