<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8" name="khalid" content="html,css,javascript">
        <title>test html2</title>
        <base href="http://106.15.179.96:8000/polls/show3/#iframe_1" />
        <base target />
        <link rel="stylesheet" type="text/css" href="">
        <style type="text/css">
body {background-color:#ffccff}
p {color:blue}
        </style>
</head>
<body>
       <a href>lint to baidu</a>
       <p><b>傻逼吧，看&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什>&#60;看</b></p>
       a input outside from form: <input type="text" form="form1"><br />
       <form action="" method="" id="form1" target="" >
       <fieldset>
               <legend>personal informaiton:</legend>
               select images: <input type="file" name="img" multiple>
               <br />
               select emails: <input type="email" name="emails" multiple placeholder="don't input randomly" >
               <br />
               test text: <input type="text" name="testtext" maxlength="10" autocomplete="on" >
               <input type="image" src="{{imag}}" width="500" height="300">
               <br />
               first name: <input type="text" name="firstname" value="firstname" readonly size="20"><br />
       last name: <input type="text" name="lastname" value="lastname" disabled><br />
       password: <input type="password" name="password"><br />
       choose your gender:<br />
       <input type="radio" name="sex" value="male" checked>Male<br />
       <input type="radio" name="sex" value="female" checked>Female<br />
       choose your hobby:<br />
       <input type="checkbox" name="vehicle" value="bike">bike<br />
       <input type="checkbox" name="vehicle" value="car">car<br />
       <input type="checkbox" name="vehicle" value="motobike">motobike<br />
       input your quantity(between 1 and 9):
       <input type="number" name="quantity" min="1" max="9" value="1"><br />
       input birthday:
       <input type="date" name="birthday" max="2050-01-01" min="1900-01-01"><br />
       input your favorite color:
       <input type="color" name="color"><br />
       input range integer:
       <input type="range" name="point" min="1" max="9"><br />
       input your email:
       <input type="email" name="email"><br />
       input your phone number:
       <input type="tel" name="usertel"><br />
       input your homepage:
       <input type="url" name="homepage" autofocus><br />
       <select name="cars">
               <option value="bmw">bmw</option>
               <option value="benz">benz</option>
               <option value="audi">audi</option>
       </select><br />
       <input type="" list="browsers">
       <datalist id="browsers">
               <option value="ie"></option>
               <option value="chrome"></option>
               <option value="chooo"></option>
               <option value="firefox"></option>
       </datalist>
       <textarea id="" name="message" cols="10" rows="10">the cat was playing in the garden</textarea><br />
       <button type="button" onclick="alert('do not see')">don't click</button>
       <input type="submit" value="submit" formtarget=""><br />
       </fieldset>
       </form>
</body>
</html>
